https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html

In [11]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"aa": [5, 50, 500],
                   "bb": [-1, np.nan, 3.141592]})
df

    aa        bb
0    5 -1.000000
1   50       NaN
2  500  3.141592

In [12]:
def color_red(x, value):
    color = "#FF0000" if x < value else "#000000"
    return "color: %s" % color

In [13]:
df.style.applymap(color_red, value = 30)

In [14]:
df.style.highlight_null()

In [15]:
df.style.highlight_null(null_color = "#00FF00")

In [16]:
def highlight_max(x, color):
    is_max = x == x.max()
    return ["background-color: " + color if x else "" for x in is_max]

In [17]:
df.style.apply(highlight_max, color = "#8888FF")

In [18]:
df.style.apply(highlight_max, color = "#8888FF", axis = 1)

In [21]:
df.style.format("{: 0.2%}")

In [22]:
df.style.format("{: 0.2%}", subset = ["bb"])

In [30]:
df.style.bar(subset = ["aa"], color='#0000FF55')

In [33]:
df.style\
  .applymap(color_red, value = 30)\
  .apply(highlight_max, color = "#8888FF")\
  .set_precision(2)

In [38]:
df.style.applymap(color_red, value = 30).apply(highlight_max, color = "#8888FF")

In [39]:
df.style\
  .applymap(color_red, value = 30)\
  .apply(highlight_max, color = "#8888FF")