꺽쇠 내부의 문자를 없애는 정규표현식

In [5]:
import pandas as pd
df = pd.DataFrame({"aa": [1, 2, 3],
                   "bb": ["asdf<ssdf>", "<asd>asdf", "asdf<wefw>wef"]})

In [3]:
df

   aa             bb
0   1     asdf<ssdf>
1   2      <asd>asdf
2   3  asdf<wefw>wef

In [7]:
df["bb"].str.replace(pat = "(?<=\<)[^>]{0,}", repl = "")

0       asdf<>
1       <>asdf
2    asdf<>wef
Name: bb, dtype: object

In [13]:
df["bb"].str.replace(pat = "<.*?>", repl = "")

0       asdf
1       asdf
2    asdfwef
Name: bb, dtype: object

In [8]:
df2 = pd.DataFrame({"aa": [1, 2, 3],
                    "bb": ["asdf<ssdf)", "<asd)asdf", "asdf<wefw)wef"]})
df2

   aa             bb
0   1     asdf<ssdf)
1   2      <asd)asdf
2   3  asdf<wefw)wef

In [12]:
df2["bb"].str.replace(pat = "(?<=\<)[^)]{0,}", repl = "")

0       asdf<)
1       <)asdf
2    asdf<)wef
Name: bb, dtype: object

In [16]:
df2["bb"].str.replace(pat = "<.*?\)", repl = "")

0       asdf
1       asdf
2    asdfwef
Name: bb, dtype: object

In [17]:
df3 = pd.DataFrame({"aa": [1, 2, 3],
                    "bb": ["asdf(ssdf)", "(asd)asdf", "asdf(wefw)wef"]})
df3

   aa             bb
0   1     asdf(ssdf)
1   2      (asd)asdf
2   3  asdf(wefw)wef

In [19]:
df3["bb"].str.replace(pat = "(?<=\()[^)]{0,}", repl = "")

0       asdf()
1       ()asdf
2    asdf()wef
Name: bb, dtype: object

In [20]:
df3["bb"].str.replace(pat = "\(.*?\)", repl = "")

0       asdf
1       asdf
2    asdfwef
Name: bb, dtype: object